{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% load i18n %}



{% block body %}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox chat-view">
            <div class="ibox-title">
                <small class="pull-right text-muted">Last message:  Mon Jan 26 2015 - 18:39:23</small>
                Chat room panel
            </div>
                <ul class="message-list chat-users">
                    {% if threads|length == 0 %}
                        <center>
                        <p class="promotions">{% trans 'Нет чатов, для создания чата зайдите на профиль человека и нажмите чат-клавишу' %}</p>
                        </center>
                    {% endif %}
                    {% for thread in threads %}
                        <li class="unread chat-user" style="list-style-type: none;min-height: 70px;" onclick="location.href='{% url 'chat:personal_chat' thread.0.profile.slug %}';">
                            <div class="col col-sm-11 col-sm-offset-1 " style="margin-left: 0px;">
                                <!--<span class="dot" style="margin-left: -9px;"></span>-->
                                <!--<div class="ti-comment-alt" style="margin-top: 15px;margin-right: 10px;">-->
                                <!--</div>-->
                                <img class="chat-avatar" src="{{ thread.0.profile.profile_image_thumbnail_sm.url }}" alt="" >
                                <div class="chat-user-name"> {{ thread.0|truncatechars:30 }} </div>
                                <!--<div class="subject">{{ thread.1|truncatechars:90 }}</div>-->


                                <div class="date">{{ thread.2|date:'H:i' }}</div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>



                </div>

            </div>
        </div>
    </div>

</div>



{% endblock body %}