{% extends 'base.html' %}
{% load i18n %}
{% load static %}



{% block head_extra_css %}    
<!-- form Uploads -->
<link href="{% static 'style.css' %}" rel="stylesheet">
<link href="{% static 'theme/css/plugins/fileuploads/css/dropify.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock head_extra_css %}


{% block body %}
<div class="container">
  <main>
      <div class="row">
          <form accept="" id='send_me' enctype='multipart/form-data' method="POST">
            <div class="col-sm-12">
                <div class="card-box">
                {% csrf_token %}
                    <h4 class="header-title m-t-0 m-b-30">Problem Init</h4>

                    <input id="id_image" name="image" onchange="handleFiles()" type="file" class="dropify" data-height="300"/>
                </div>
            </div><!-- end col -->
          </form>
      </div>
      <!-- end row -->
      <input value="SEND" type="submit"  form="send_me" id="send">
      <span id="allMetaDataSpan"></span>
  </main>

</div>
{% endblock body %}



{% block page_script_base %}
<script src="{% static 'exif.js' %}"></script>
<script src="{% static 'index.js' %}"></script>
<!-- file uploads js -->
<script src="{% static 'theme/css/plugins/fileuploads/js/dropify.min.js' %}"></script>
<script type="text/javascript">
    $('.dropify').dropify({
        messages: {
            'default': 'Drag and drop a file here or click',
            'replace': 'Drag and drop or click to replace',
            'remove': 'Remove',
            'error': 'Ooops, something wrong appended.'
        },
        error: {
            'fileSize': 'The file size is too big (1M max).'
        }
    });
</script>
{% endblock page_script_base %}