{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %} 


{% block head_extra_css %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCe2qGs5M6DiIFZY4f6yIlxy8kVHwGfTHA"></script>    
<!-- form Uploads -->
<link href="{% static 'style.css' %}" rel="stylesheet">
{% endblock head_extra_css %}


{% block body %}

<div class="row m-b-lg">
        <div id="main-map"></div>
        <div class="items-div">
            <h2>Points list</h2>
            <div class="list">
                {% for problem in problems %}
                <div class="item">
                    <img src="{{ problem.image_xs.url }}" style="border-radius: 50%;">
                    <div>
                        <a href="{{ problem.get_absolute_url }}">{{ problem.name }}</a>
                    </div>
                    <div>
                        {{ problem.upload_date|naturalday }}
                    </div>
                    <div class="social-net">
                        <img src="{% static 'multimedia.png' %}">
                        <img src="{% static 'shapes.png' %}">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
</div>
{% endblock body %}



{% block extra_script_base %}
<script src="{% static 'show.js' %}"></script>
{% endblock extra_script_base %}



{% block page_script_base %}
<!-- file uploads js -->
<script src="{% static 'theme/css/plugins/fileuploads/js/dropify.min.js' %}"></script>
<script type="text/javascript">
    $('.dropify').dropify({
        messages: {
            'default': 'Drag and drop a file here or click',
            'replace': 'Drag and drop or click to replace',
            'remove': 'Remove',
            'error': 'Ooops, something wrong appended.'
        },
        error: {
            'fileSize': 'The file size is too big (1M max).'
        }
    });
</script>
{% endblock page_script_base %}